/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* =============== Globals ============== */
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: linear-gradient(to right, #9544db, #21899c);
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

/* =============== Navigation ================ */
.navigation {
  position: fixed;
  width: 258px;
  height: 100%;
  background: var(--blue);
  border-left: 10px solid var(--blue);
  transition: 0.5s;
  overflow: hidden;
}
.navigation.active {
  width: 71px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background-color: var(--white);
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--blue);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}
.navigation ul li a .icon ion-icon {
  font-size: 1.75rem;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* --------- curve outside ---------- */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}

/* ===================== Main ===================== */
.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 250px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
}
.main.active {
  width: calc(100% - 80px);
  left: 80px;
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}

.search {
  position: relative;
  width: 400px;
  margin: 0 10px;
}

.search label {
  position: relative;
  width: 100%;
}

.search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 35px;
  font-size: 18px;
  outline: none;
  border: 1px solid var(--black2);
}

.search label ion-icon {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 1.2rem;
}

.user {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ======================= Cards ====================== */
.cardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  margin-top: -30px;
}

.cardBox .card {
  position: relative;
  background: var(--white);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardBox .card .numbers {
  position: relative;
  font-weight: 500;
  font-size: 2.5rem;
  color: var(--blue);
}

.cardBox .card .cardName {
  color: var(--black2);
  font-size: 1.1rem;
  margin-top: 5px;
}

.cardBox .card .iconBx {
  font-size: 3.5rem;
  color: var(--black2);
}

.cardBox .card:hover {
  background: var(--blue);
}
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx {
  color: var(--white);
}

/* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }
  .navigation.active {
    width: 300px;
    left: 0;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 300px;
  }
  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .details {
    grid-template-columns: 1fr;
  }
  .recentOrders {
    overflow-x: auto;
  }
  .status.inProgress {
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }
  .cardHeader h2 {
    font-size: 20px;
  }
  .user {
    min-width: 40px;
  }
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active {
    width: 100%;
    left: 0;
  }
  .toggle {
    z-index: 10001;
  }
  .main.active .toggle {
    color: #fff;
    position: fixed;
    right: 0;
    left: initial;
  }
}
.chart {
  width: 500px;
  height: 350px;
  color: #231279;
  margin-left: 20px;
}
/* 
***************end chart*************** */

/* ************start box payment*************** */
.payment {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.box {
  margin-left: 5px;
  margin-top: 8px;
  width: 455px;
  height: 240px;
  background-color: #f6f5f5;
  position: relative;
  z-index: 1;
}
.box::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: #ededed;
  transition: 0.3s;
  z-index: -1;
}

.box:hover:before {
  width: 100%;
  height: 100%;
}
.box .head {
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
}
.box .head h2 {
  margin-left: 21px;
  margin-top: -7px;
}
.box .head a {
  border: 1px solid black;
  text-decoration: none;
  margin-right: 13px;
  padding: 10px 12px;
  color: black;
  border-radius: 8px;
  background-color: white;
}
.box .head a:hover {
  background: linear-gradient(to right, #9544db, #21899c);
}
.box .min-box {
  display: flex;
  margin-left: 13px;
  margin-top: 20px;
}
.box .min-box .Electricity {
  margin-left: 20px;
}
.box .min-box .img img {
  background-color: #f97a00;
  padding: 2px 6px;
}
.box .min-box .imgg img {
  background-color: #fe6ec5;
}


@media (max-width: 768px) {
  img{
    display: none;
  }
  .chartbox{
   display: block;
  }
  .box{
    width: 380px;
  }
  .payment{
    display: block;
  }
}



.box .min-box p {
  margin-top: 3px;
  color: #777;
}
.box .min-box span {
  margin-left: 34px;
  color: black;
}
.box .min-box a {
  color: white;
  background: linear-gradient(to right, #9544db, #21899c);
  text-decoration: none;
  display: flex;
  margin-left: 275px;
  margin-top: -30px;
  padding: 10px 15px;
  border-radius: 8px;
}

.box .min-box .aa {
  margin-left: 277px;
  margin-top: -37px;
}

/* **************************************end box******************************************************* */
/* **************************************start visa******************************************************* */

.box-visa {
  display: flex;
  justify-content: space-between;
  width: 70%;
  position: relative;
}
.visa {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}

.box-visa .h {
  position: absolute;
  margin-top: 30px;
  margin-left: 50px;
}
.visa .name {
  margin-top: 50px;
  margin-left: 60px;
}
.visa .name h3 {
  margin-bottom: 20px;
}
.visa .name p {
  margin-top: 20px;
}

.imgvisa {
  transition: 0.5s;
  /* width: 500px; */
}
.imgvisa img {
  max-width: 100%;
  width: 400px;
  height: 260px;
  transition: 0.3s;
  /* margin-left: 15px; */
  margin-right: 30px;
}
@media (max-width : 991px) {
  .mgvisa img{
    display: none;
  }
}
.imgvisa:hover {
  margin-top: -10px;
}


/* ***********end visa**************** */
/* 
************start squar************** */
.chartbox {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-right: 60px;
  margin-left: 3px;
  height: 281px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
 
}
@media (max-width : 991px) {
  .chartbox{
    height: 300px;
  }
  .chart{
    width: 300px;
    max-height: 300px;
  }
  .insights{
    display: block;
  }
}
.insights {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-top: 25px;
  margin-left: 10px;
}
main .insights > div {
  background: #fff;
  padding: 1.2rem;
  border-radius: 0.4rem;
  margin-top: 1rem;
  box-shadow: 0 2rem 3rem rgb(132, 139, 200, 0.18);
  transition: 0.5s;
}
.insights > div:hover {
  box-shadow: none;
}
.insights > div span {
  background: orange;
  padding: 0.5rem;
  border-radius: 50%;
  color: #fff;
  font-size: 2rem;
}

.insights > div .middle {
  width: 200px;
}
.insights .progress {
  position: relative;
  width: 92px;
  height: 92px;
  border-radius: 50%;
  margin-top: -15px;
  margin-left: 50px;
}
.insights svg {
  width: 7rem;
  height: 7rem;
  margin-left: 10px;
}
.insights svg circle {
  fill: none;
  stroke: #111e88;
  stroke-width: 14;
  stroke-linecap: round;
  transform: translate(5px, 5px);
  stroke-dasharray: 110;
  stroke-dashoffset: 92;
}
.insights .sales svg circle {
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}
.sales {
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}
.insights .expenses svg circle {
  stroke-dashoffset: 20;
  stroke-dasharray: 80;
}
.expenses {
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}
.insights .income svg circle {
  stroke-dashoffset: 35;
  stroke-dasharray: 110;
}
.income {
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}
.insights .progress .number {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.middle .left h2 {
  margin-top: 20px;
  margin-bottom: 50px;
}
.insights small {
  display: block;
  margin-top: 15px;
}

/* *********end squar******** */